<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tina Ayanda Fezani</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="navbar">
        <div class="nav-container">
            <h1 class="logo">Tina Ayanda Fezani</h1>

        <nav>
            <a href="#">About</a>
            <a href="#">Project</a>
            <a href="#">Blog</a>
            <a href="#">Gallery</a>
            <a href="#">FAQ</a>
        </nav>

        <button class="contact-button">Contact</button>
    </div>
</header>